{% extends 'blog/base.html' %} {% block body %}

<h1 class="posttile">{{post.title}}</h1>

<p class="postcontent">{{post.text|safe|linebreaksbr}}</p>

{% if user.is_authenticated %} {% if post.published_date %}
<div class="date postdate">{{post.published_date}}</div>
{% else %}
<a href="{% url 'post_publish' pk=post.pk %}" class="btn btn-success"
  >Publish</a
>
{% endif %}
<a class="btn btn-dark" href="{% url 'post_edit' pk=post.pk %}"
  ><span class="fa fa-pencil"></span
></a>
<a href="{% url 'post_remove' pk=post.pk %}" class="btn btn-danger">
  <span class="fa fa-remove"></span>
</a>
{% endif %}

<hr />
<a
  class="btn btn-info btn-comment"
  href="{% url 'add_comment_to_post' pk=post.pk%}"
  >Add Comment</a
>

<div class="container">
  {% for comment in post.comment.all %} {% if user.isauthenticated
  orcomment.approved_comment %} {{comment.created_date}} {% if not
  comment.approved_comment %}
  <a class="btn btn-primary" href="{% url 'comment_remove' pk=comment.pk %}">
    <span class="fa fa-remove"></span>
  </a>
  <a href="{% url 'comment_approve' pk=post.pk %}">
    <span class="fa fa-ok"></span>
  </a>
  <p>{{comment.text|safe|linebreaks}}</p>
  <p>Posted By: {{comment.author}}</p>
  {% endfor %}
</div>
{% endblock %}
