{% extends 'blog/base.html' %} {% block body %}

<h1 class="posttitle">{{post.title}}</h1>

<p class="postcontent">{{post.text|safe|linebreaksbr}}</p>
<form action="{% url 'like_post' pk=post.pk %}" method="POST">
  {% csrf_token %}
  <h6>{{post.total_likes.count}}</h6>
  <button type="submit">
    {% if liked %}
    <i class="fa fa-heart red-heart"></i>
    {% else %}
    <i class="fa fa-heart"></i>
    {% endif %}
  </button>
</form>
{% if user.is_authenticated and user.pk == post.author_id %}
<!--protects-->
{% if post.published_date %}
<div class="date postdate">{{post.published_date}}</div>
{% else %}
<a href="{% url 'post_publish' pk=post.pk %}" class="btn btn-success"
  >Publish</a
>
{% endif %}
<a class="btn btn-dark" href="{% url 'post_edit' pk=post.pk %}"
  ><span class="fa fa-pencil"></span
></a>
<a href="{% url 'post_remove' pk=post.pk %}" class="btn btn-danger">
  <span class="fa fa-remove"></span>
</a>
{% endif %}

<hr />
<a
  class="btn btn-info btn-comment"
  href="{% url 'add_comment_to_post' pk=post.pk%}"
  >Add Comment</a
>

<div class="container">
  {% for comment in post.comments.all %} <br />
  {% if user.is_authenticated or comment.approved_comment %}
  {{comment.created_date}} {% if not comment.approved_comment %}
  <a class="btn btn-danger" href="{% url 'comment_remove' pk=comment.pk %}">
    <span class="fa fa-remove"></span>
  </a>
  <a class="btn btn-success" href="{% url 'comment_approve' pk=comment.pk %}">
    <span class="fa fa-check"></span>
  </a>
  {% endif %}
  <p>{{comment.text|safe|linebreaks}}</p>
  <p>Posted By: <strong>{{comment.author}}</strong></p>
  {% endif %} {% endfor %}
</div>
{% endblock %}
