{% extends 'blog/base.html' %} {% block body%} {% comment %}
<div class="centerstage">
  {% for post in post_list %}
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">{{post.title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Author: {{post.username}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">
        Published on: {{post.published_date|date:"D M Y"}}
      </h6>
      <h6 class="card-subtitle mb-2 text-muted">
        Comments: {{post.approve_comments.count}}
      </h6>
      <h6 class="card-subtitle mb-2 text-muted">Views: {{post.views}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">
        Likes: {{post.total_likes.count}}
      </h6>
      <a href="{% url 'post_detail' pk=post.pk %}" class="stretched-link"></a>
    </div>
  </div>
  {% endfor %}
</div>
{% endcomment %}
<div class="container mt-2">
  <div class="row">
    {% for post in post_list %}
    <div class="col-md-3 col-sm-6 item">
      <div class="card item-card card-block">
        <img src="https://picsum.photos/id/{{post.id}}/300/150" />
        <h5 class="item-card-title mt-3 mb-3">{{post.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Author: {{post.username}}</h6>
        <h6 class="card-subtitle mb-2 text-muted">
          Published on: {{post.published_date|date:"D M Y"}}
        </h6>
        <h6 class="card-subtitle mb-2 text-muted">
          Comments: {{post.approve_comments.count}}
        </h6>
        <h6 class="card-subtitle mb-2 text-muted">Views: {{post.views}}</h6>
        <h6 class="card-subtitle mb-2 text-muted">
          Likes: {{post.total_likes.count}}
        </h6>
        <a href="{% url 'post_detail' pk=post.pk %}" class="stretched-link"></a>
      </div>
    </div>
    {% endfor %}
  </div>

  {% include "pagination.html" %} {% endblock %}
</div>
Lance
